.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.label {
    font-weight: 600;
    color: #f2f2f7;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input {
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(2px);
    color: #fff;
    padding: 12px;
    border-radius: 0;
    border: 1px solid #48484a;
    transition: all 0.2s ease;
    opacity: 0.95;
}

.input:focus {
    border-color: #0a84ff;
    box-shadow: 0 0 0 2px rgba(10, 132, 255, 0.3);
}

.button {
    background-color: rgba(10, 132, 255, 0.2);
    width: 50%;
    color: #87ceeb;
    padding: 12px;
    border-radius: 0;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    font-weight: 600;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
    align-self: center;
    backdrop-filter: blur(6px);
    border: none;
}

.button:hover {
    background-color: rgba(10, 132, 255, 0.35);
    border-color: rgba(255, 255, 255, 0.3);
}
.error {
    color: #ff3b30;
    font-size: 0.875rem;
    margin-top: 4px;
}
