.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.label {
    font-weight: 600;
    color: #f2f2f7;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input {
    background-color: #3a3a3c;
    color: #fff;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #48484a;
    transition: all 0.2s ease;
}

.input:focus {
    border-color: #0a84ff;
    box-shadow: 0 0 0 2px rgba(10, 132, 255, 0.3);
}

.button {
    background-color: #0a84ff;
    width: 50%;
    color: white;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    align-self: center;
}

.button:hover {
    background-color: #006fd6;
}
